.App {
  text-align: center;
  max-width: 100%;
}


td{
  width: 33.33%
}
th {
  background-color: #0a0f0f;
  color: white;
} 

hr{
  color: darkgray;
  background-color: darkgray;
  border-color: darkgray;
}

.warn{
  color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.main-route-place {
  width: 75%;
  align-self: center;
}

th,td{
  color:white
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 96.6vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
